.navbar-brand {
    padding-right: 70%;
}
.jumbotron-heading {
    font-family: sans-serif;
    color: #990000;
    text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white, 2px 2px 0 white;
}
.lead {
}
.update-link-true {
    display: inline-block;
    border: 1px;
    border-style: solid;
    border-radius: 10px;
    background-color: #00cc33;
    color: white;
    text-decoration: none;
    padding: 0.3em 0.6em;
}
.update-link-false {
    display: inline-block;
    border: 1px;
    border-style: solid;
    border-radius: 10px;
    background-color: red;
    color: white;
    text-decoration: none;
    padding: 0.3em 0.6em;
}
#addAccountForm label.error{
    color: red;
    width: 250px;
    font-style: italic;
}